/* style.css 

light green
#eaebdd */

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

.row:before,
.row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}


h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	font-size: 15em;
	color: whitesmoke;
}
h2 {
	font-family: 'Open sans', sans-serif;
	font-size: 20px;
}

h4 {
	font-family: 'Playfair Display', serif;
	font-size: 2em;
	margin-top: 45px;
}

button {
	font-family: 'Open Sans'; sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #eaebdd;
}

.image-container {
    position: relative;
    background-color: #eaebdd;
}

.painting img {
	height: 400px;
}

.button-row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}

button {
    background-color: #fff;
    color: black;
    border: solid;
    padding: 10px 10px 10px 10px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition:background-color 2s ease-out 100ms}
}

button:hover{
	background-color: black;
	color:#fff;
}

.button-container {
	text-align: center;
	margin-top: 20px;
	background-color: #eaebdd;
}

.projects {
	padding: 10px;
	letter-spacing: 0.05em;
	font-weight: 600;
	font-style: oblique;
	justify-content: center;
	align-items: center;
	background-color: #eaebdd ;
}

img {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
}

hr {
	margin-top: 40px;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
