/* Stylesheet for the 53 redesign 


Colors: ;
White
Black
Red highlight
Contrast button color #ef57d4

Typefaces being used:
Monteserrat for main titles 
eaves for body text



*/

/* Add other notes for the redesign here */






/* universal selections and rules */

/* box model Fix */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* clear Fix */

.row:before,
.row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

/* image rules */

img {
	width: 100%;
}

/* Type Hierarchy */

@font-face {
    font-family: "GT-Super";
    src: url("../GT-Super/GT-Super-Display-Super.woff2");
}

@font-face {
	font-family: "GT-Medium";
	src: url("../GT-Super/GT-Super-Display-Medium.woff2");
}

@font-face {
	font-family: "GT-Light";
	src: url("../GT-Super/GT-Super-Display-Regular.woff2");
}

body {
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 400;
	background-color: #ffeae7;
}

h1 {
	font-family: "GT-Super";
	font-size: 60px;
	margin: 1;
	
}

h2 {
	font-family: "GT-Super";
	font-size: 36px;
	margin: 0;
}

h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.8rem;
	margin: 0;
}

h4 {
	font-family: "GT-Super";
	font-size: 20px;
	font-weight: 300;
	line-height: 1.8rem;
	margin: 0;
}

h5 {
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: 300;
	line-height: 1.8rem;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.8rem;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
	font-family: 'Poppins';
}

a:hover {

}

ul {
	list-style-type: none;
}

.tighten {
	letter-spacing: -0.03em;
}

/* header styles and rules */

header {
	background-color: #153b84;
	color: #fff;
	position: fixed;
	height: 90px;
	z-index: 4;
	font-size: 0.6em;
}

.icon {
	fill:  whitesmoke;
}

/* 
header li {
	float: left;
	margin-left: 18px;
}
*/
#logo a {
	display: inline-block;
	padding: 1rem;
	max-width: 120px;
	margin-top: 15px;
}


#search {
	display: inline-block;
	border-style: solid;
	border-color: #fff;
	margin-left: 10px;
	padding: 1rem 20px;
	border-radius: 30px;
	width: 310px;
}

#search a {
	line-height: 100px;
}

header ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

/* homepage hero styles and rules */

#hero {
	background-image: url("../images/hero1.jpg");
	background-size: cover;
	background-color: red;
	height: 90vh;
}

#hero-chunk {
	width: 400px;
	color: #fff;
	margin-top: 200px;
	margin-left: 100px;
}

#hero h1 {
	padding-bottom: 16px;
}

#hero h5 {
	padding-bottom: 30px;
}

a.CTA {
	background-color: #c2402f;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding: 1em 2.5em;
	border-radius: 2em;
}


/* homepage mission statemetent styles and rules */
#mission {
	text-align: center;
	color: #161616;
	width: 680px;
	margin: 80px auto;
	margin-bottom: 160px;
}

#mission h2 {
	padding-bottom: 60px;
}

#mission p {
	width: 600px;
	margin: 0 auto;
}

/* Splash graphic 
Its the same as a container-fluid section 
but it doesn't have any content*/ 

#splash {
	width: 100%;
	height: 100vh;
	margin-top: -100px;
	background-image: url("../images/splash.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}


/* Homepage product feature styles and rules */

#feature {
	margin-top: -470px;
}

.card-chunk span {
	font-family: "GT-Light";
	font-size: 34px;
}

.card-chunk h2 {
	margin: 50px 0;
}

.card-chunk p {
	margin-bottom: 50px;
}

a.CTAtoo {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding: 1em 2.5em;
	border-radius: 2em;
	border-style: solid;
}

#paper {
	background-color: #161616;
	color: #fff;
	width: 95vw;
	height: 720px;
	margin: 0 auto;
	border-radius: 20px;
	margin-bottom: 50px;
	padding: 100px;
	display: grid;
	grid-template-columns: 470px 670px;
	column-gap: 30px;
	overflow: hidden;
}

#pencil {
	background-color: #fff;
	color: #161616;
	width: 95vw;
	margin: 0 auto;
	border-radius: 20px;
	padding: 100px;
	display: grid;
	grid-template-columns: 670px 470px;
	column-gap: 30px;
	overflow: hidden;
}

#video {
	background-color: black;
	width: 970px;
	margin: -300px auto;
	border-radius: 20px;
	overflow: hidden;
}

#video video {
	display: block;
	margin: 0 auto;
}

#illust {
	margin-top: -500px;
	height: 570px;
	position: relative;
	overflow: hidden;
	padding: 0;
}

#illust h6 {
	font-size: 10px;
	color: #fff;
	position: absolute;
	right: 20px;
	bottom: 0px;
	z-index: -1;
}

#illust img{
	
	position: absolute;
	z-index: -2;

}

#products a {
	color: #161616;
}

#product-grid {
	width: 1170px;
	margin: 50px auto;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
}

#newsletter {
	height: 20vh;
	margin-top: 40px;
}

#newsletter .row {
	margin-bottom: 30px;
}

#newsletter .btn {
	background-color: none;
}

#newsletter .btn:hover {
	background-color: black;
}

.btn {
	border-radius: 50px;
}


/*********************

/* About Page styles and rules 

*******************
*/

#aboutHero {
	background-size: cover;
	background-color: #161616;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 200px;
}

#aboutHero h1 {
	color: #fff;
}

.fixedHalf {
	width: 50%;
	position: fixed;
	margin-top: -250px;
	margin-left: 25vw;
}

.scrollHalf {
	width: 50%;
	margin-left: 50%;
	margin-top: -180px;
	overflow: hidden;
	padding-right: 15%;
}

.bright {
	color: #fff;
}

.adjust-height {
	line-height: 6rem;
}

/*********************

/* Product Page styles and rules 

*******************
*/

#productHero {
	display: flex;
	flex-direction: column;
    background-image: url("../images/productbackground.svg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #161616;
    height: 95vh;
    z-index: 0;

}

#productHero h1 {
    font-size: 10rem;
    color: #000000;
    padding: 10px; 
}

#producthero-chunk {
    z-index: 2;
    margin-top: 150px;

}

#productHero h2 {
    font-family: "GT-Light";
    font-size: 2rem;
    margin-bottom: 30px;
    color: #000;
}

#no2pencil {
	position: relative;
	top:100px;
}

.CTAproduct {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 1em 2.5em;
    border-radius: 2em;
    border-style: solid;
    z-index: 3;
}

.CTAproduct:hover {
    color: #fff;
    background-color: #000;
    transition: 1s;
}


#hand img {
    position: relative;
    bottom: 550px;
    z-index: 0;
    width: 100%;
    height: auto;
}

#productFeature {
    /* background-image: url("../images/productbackground2.svg"); */
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #000;
    height: 60vh;
    z-index: 0;

}

#productfeature-chunk {
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
}

#crafted{
	z-index: 2;
	flex: 1;
	padding-top: 20px;
	position: relative;
	flex-direction: column;
	padding-bottom: 20px;
}


#productfeature-chunk h2 {
	font-family: "GT-Medium";
    font-size: 2rem;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
}

#productfeature-chunk p {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 200;
	line-height: 1.8rem;
	margin: 0;
	color: #fff;
	text-align: center;
}

#productfeature-chunk h2 > span {
	font-family: "GT-Super";
	color: #fe804b;
}

#productpencil img {
	z-index: 2;
	width: 60%;
	height: auto;
	align-items: center;
	position: relative;
	top: 5px;
	padding: 10px;
	left: 50%;
	transform: translateX(-50%);
	transition: 2s ease;
}

/* Product Attributes */



#productattributes {
    background-image: url("../images/productbackground2.svg");
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.container#shadesofgrey {
	background-color: #161616;
	color: #fff;
	width: 95vw;
	margin: 0 auto;
	border-radius: 20px;
	margin-bottom: 50px;
	margin-top: 50px;
	padding: 100px;
	display: grid;
	grid-template-columns: 40vw auto;
	column-gap: 50px;
	overflow: hidden;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


#eraser {
	background-color: #161616;
	color: #fff;
	width: 95vw;
	height: 600px;
	margin: 0 auto;
	border-radius: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 100px;
	display: grid;
	grid-template-columns: 40vw auto;
	column-gap: 40px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#productcolors {
	justify-content: center;
}


.colourheader {
	margin-top: 60px;
	text-align: center;
}



.card1 {
	background-color: white;
	background-image: url("../images/darkoak.jpg");
	background-size: 95%;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	padding: 10px;
	min-width: 200px;
	height: 300px;
	transition: 0.3s;
	text-align: center;
	justify-content: center;
	transition: 2s ease;
}

.card1 h5 {
	font-size: 0.75em;
	font-weight: 300;
	color: #fff;
	justify-content: center;
	text-align: center;
	padding-top: 100px;
}


.card2 { 
	background-color: white;
	background-image: url("../images/lightoak.jpg");
	background-size: cover;
	background-blend-mode: multiply;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	padding: 10px;
	min-width: 200px;
	height: 300px;
	transition: 0.3s;
	text-align: center;
	justify-content: center;
	transition: 2s ease;
}

.card2 h5 {
	font-size: 0.75em;
	font-weight: 300;
	color: #fff;
	justify-content: center;
	text-align: center;
	padding-top: 100px;
}

.card3 {
	background-color: white;
	background-image: url("../images/mahogany.jpg");
	background-size: cover;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	padding: 10px;
	min-width: 200px;
	height: 300px;
	transition: 0.3s;
	text-align: center;
	justify-content: center;
	transition: 2s ease;
}

.card3 h5 {
	font-size: 0.75em;
	font-weight: 300;
	color: #fff;
	justify-content: center;
	text-align: center;
	padding-top: 100px;
}



.card1:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	transition: 1s ease;

}

.card2:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	transition: 1s ease;

}

.card3:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	transition: 1s ease;

}

.colA {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	max-width: 390px;
	border-radius: 25px;

}
.colB {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	max-width: 390px;
}
.colC {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	max-width: 390px;
}
@media (min-width:50em) {
	.even-columns {
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
	}
}

/* Product Page End rules */

#buynow {
	text-align: center;
	justify-content: center;
	height: 20vh;
}

#buynow h2 {
	padding-top: 30px;
	padding-bottom: 30px;
}



/* Footer styles and rules */

footer {
	background-color: #161616;
	border-radius: 125px 125px 0px 0px;
	color: #fff;
	position: relative;
	z-index: 4;
}

footer h4 {
	padding: 2rem;
	font-family: "GT-Light";
}

#partners {
	text-align: center;
	color: #fff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0 5%;
}

#partners ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer li {
	text-align: center;
	font-family: 'Poppins';
	font-size: 14px;
	padding-bottom: 15px;
}



#foot-links {
	margin-top: 40px;
}

#foot-links li:first-child {
	font-weight: 600;
	padding-bottom: 30px;
}

#foot-links ul {
	display: flex;
	flex-direction: column;
}

#foot-links li {
	text-align: left;
}

#foot-links img {
	max-width: 70px;
}

#socials {
	display: flex;
	flex-direction: row;
}

#legal {
	text-align: right;
}

#legal span {
	margin-left: 30px;
}

#bottom {
	justify-content: space-between;
	font-size: 12px;
	margin-top: 40px;
	color: antiquewhite;
}


